Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "Tushar"

In [2]:
a

'Tushar'

In [3]:
#list is defined using []

li = [2,3,4,5,6,7,8,9,10,11]
li

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [4]:
b = 3.1435678

In [6]:
b
# print(type(b))

<class 'float'>

In [7]:
#tuple is defined using ()
t = (1,2,3,4,5,6,7,8,9,10,11)

In [10]:
t
# print(type(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [11]:
var1 = ''
type(var1)

str

In [12]:
var2 = '[DS,ML,Python]'
type(var2)

str

In [13]:
var3 = ['DS','ML','Python']
type(var3)

list

In [14]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [15]:
#division
c = 5/5
print(c)

1.0

In [16]:
#modulus
5%4

1

In [19]:
#floor division
6//4

1

In [20]:
#power of number
3**3

27

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [22]:
lis = ['Tushar','Bhansali','How are u',4+3j,2,3.1423,True,'ML','Computer Vision','PWSkills']
for i in lis:
    print(i,type(i))

Tushar <class 'str'>
Bhansali <class 'str'>
How are u <class 'str'>
(4+3j) <class 'complex'>
2 <class 'int'>
3.1423 <class 'float'>
True <class 'bool'>
ML <class 'str'>
Computer Vision <class 'str'>
PWSkills <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [19]:
lis1 = [2,4,5,6,7,8,9,10,24,32,48,90]
cnt = 0
i = 0
b = int(input("Please tell the number of divisibilty"))
while (i<=len(lis1)):
    if(i==len(lis1)):
        break
    if(lis1[i]%b==0):
        cnt+=1
    i+=1
    
cnt

9

In [3]:
b = int(input())
b

5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [49]:
lis = [3,6,9,12,15,18,10,12,13,14,16,17,19,100,90,55,32,56,31,80,98,45,78]
cnt = 0
for i in lis:
    if (i % 3 == 0):
            cnt+=1
    
print("The number of elements divisible by 3 is",(cnt))

The number of elements divisible by 3 is 10

18.333333333333332