In [3]:
type(s1)

dict

In [13]:
s2 = {"name":'Sudh',"name":"sudhanshu"}
s2
#In dictionary your key must be unique
# "name" key is just geting updated by "Sudh" to "sudhanshu"

{'name': 'sudhanshu'}

In [14]:
d3 = {2345:"abc"}

In [15]:
d3

{2345: 'abc'}

In [16]:
d4 = {2.1:"Tushar"}

In [17]:
d4

{2.1: 'Tushar'}

In [18]:
d5 = {True:"Name"}

In [20]:
d5
#key can be any datatype value

{True: 'Name'}

In [27]:
d6 = {@:"Tushar"}

SyntaxError: invalid syntax (1585010200.py, line 1)

In [28]:
d7 = {#:'Tushar'}

SyntaxError: incomplete input (4219342617.py, line 1)

In [29]:
d8 = {[1,2,4]:"abc"}

TypeError: unhashable type: 'list'

In [31]:
d9 ={(1,2,3):"abc"}
d9

{(1, 2, 3): 'abc'}

In [32]:
d10 = {{1,2,3}:"abc"}

TypeError: unhashable type: 'set'

In [33]:
d11 = {{"key":1234}:"abc"}

TypeError: unhashable type: 'dict'

In [ ]:
#From collection u can only take tuples as key no other collection 
#such as list,set,dictionary

In [34]:
d12 = {"course_name":["data science master","web dev","java with dsa and system design"]}

In [36]:
d12
#U can take value in the list

{'course_name': ['data science master',
  'web dev',
  'java with dsa and system design']}

In [44]:
d13 = {"course_name":("data science master","web dev","java with dsa and system design")}

In [45]:
d13
#U can take value in the tuple

{'course_name': ('data science master',
  'web dev',
  'java with dsa and system design')}

In [39]:
d14 = {"course_name":{"data science master","web dev","java with dsa and system design"}}

In [40]:
d14

{'course_name': {'data science master',
  'java with dsa and system design',
  'web dev'}}

In [47]:
d15 = {"course_name":{"data science master":"Data Science","web dev":"Web Development","java with dsa and system design":"Java"}}

In [46]:
d13

{'course_name': ('data science master',
  'web dev',
  'java with dsa and system design')}

In [48]:
d15

{'course_name': {'data science master': 'Data Science',
  'web dev': 'Web Development',
  'java with dsa and system design': 'Java'}}

In [52]:
d16 = {"batch_name":["data science","web Development","JDS"],"start_date":(28,14,21),"mentor_name":{"krish naik","sudhanshu","Hitesh","Anurag","Naveen","Virat"}}

In [53]:
d16

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'}}

In [56]:
d16["timing"] = (8,8,8)
#This u can add a new key value pair in the dictionary

In [55]:
d16

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [57]:
d16['timing'] = (1,2,3)

In [58]:
d16

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'},
 'timing': (1, 2, 3)}

In [59]:
d16['batch_name']

['data science', 'web Development', 'JDS']

In [60]:
d16['mentor_name']

{'Anurag', 'Hitesh', 'Naveen', 'Virat', 'krish naik', 'sudhanshu'}

In [62]:
type(d16['mentor_name'])

set

In [61]:
d16['timing']

(1, 2, 3)

In [63]:
d16["key"]

KeyError: 'key'

In [65]:
d16["name"] = "Tushar"

In [66]:
d16

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'},
 'timing': (1, 2, 3),
 'name': 'Tushar'}

In [67]:
d16['name']

'Tushar'

In [69]:
d16['name'].upper()

'TUSHAR'

In [70]:
d15

{'course_name': {'data science master': 'Data Science',
  'web dev': 'Web Development',
  'java with dsa and system design': 'Java'}}

In [71]:
d15['course_name']['data science master']

'Data Science'

In [72]:
d15

{'course_name': {'data science master': 'Data Science',
  'web dev': 'Web Development',
  'java with dsa and system design': 'Java'}}

In [73]:
d15['mentor'] = "Sudhanshu"

In [74]:
d15

{'course_name': {'data science master': 'Data Science',
  'web dev': 'Web Development',
  'java with dsa and system design': 'Java'},
 'mentor': 'Sudhanshu'}

In [75]:
del d15['mentor']

In [76]:
d15

{'course_name': {'data science master': 'Data Science',
  'web dev': 'Web Development',
  'java with dsa and system design': 'Java'}}

In [77]:
d15.clear()

In [79]:
d15
#d15 is clear dictionary due to clear method

{}

In [81]:
len(d16)

5

In [82]:
d16

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'},
 'timing': (1, 2, 3),
 'name': 'Tushar'}

In [84]:
d16.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [86]:
d16.values()

dict_values([['data science', 'web Development', 'JDS'], (28, 14, 21), {'Naveen', 'Hitesh', 'krish naik', 'Virat', 'Anurag', 'sudhanshu'}, (1, 2, 3), 'Tushar'])

In [88]:
list(d16.values())
#to convert it into list

[['data science', 'web Development', 'JDS'],
 (28, 14, 21),
 {'Anurag', 'Hitesh', 'Naveen', 'Virat', 'krish naik', 'sudhanshu'},
 (1, 2, 3),
 'Tushar']

In [89]:
list(d16.keys())

['batch_name', 'start_date', 'mentor_name', 'timing', 'name']

In [90]:
d16.items()

dict_items([('batch_name', ['data science', 'web Development', 'JDS']), ('start_date', (28, 14, 21)), ('mentor_name', {'Naveen', 'Hitesh', 'krish naik', 'Virat', 'Anurag', 'sudhanshu'}), ('timing', (1, 2, 3)), ('name', 'Tushar')])

In [91]:
list(d16.items())

[('batch_name', ['data science', 'web Development', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('mentor_name',
  {'Anurag', 'Hitesh', 'Naveen', 'Virat', 'krish naik', 'sudhanshu'}),
 ('timing', (1, 2, 3)),
 ('name', 'Tushar')]

In [110]:
d17=d16.copy()
#Just copied the same dictionary
#It will create a new copy of the dictionary and create a new memory for it
#It is also called as deep copy

In [103]:
d17

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'},
 'timing': (1, 2, 3)}

In [104]:
d18 = d16
#In this case it will just point to the same address memory

In [105]:
d16

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'},
 'timing': (1, 2, 3)}

In [97]:
#For example

del d16['name']

In [106]:
del d16['timing']

In [107]:
d18
#Here u can observe that if we delete a key in the d16 it effects d18 also
#As they are refering to each other and pointing to same location
#This is also known as shallow copy in python

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'}}

In [109]:
d17
#But here due to copy method it creates a new memory or space where the details are same
#If there is any update in d16 it will not effect d17 as it has new memory

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'},
 'timing': (1, 2, 3)}

In [111]:
d16

{'batch_name': ['data science', 'web Development', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'}}

In [112]:
d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [113]:
d16.pop("start_date")

(28, 14, 21)

In [114]:
d16

{'batch_name': ['data science', 'web Development', 'JDS'],
 'mentor_name': {'Anurag',
  'Hitesh',
  'Naveen',
  'Virat',
  'krish naik',
  'sudhanshu'}}

In [115]:
d16.pop('mentor_name')

{'Anurag', 'Hitesh', 'Naveen', 'Virat', 'krish naik', 'sudhanshu'}

In [116]:
d16

{'batch_name': ['data science', 'web Development', 'JDS']}

In [117]:
d16.get('batch_name')

['data science', 'web Development', 'JDS']

In [119]:
d16.fromkeys((1,2,3),('a','b','c'))
#Create a new dictionary with keys from iterable and values set to value.

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [121]:
d19 = {"key1":"value","key2":"value2"}
d20 = {"key3":"value3","key4":"value4"}

In [122]:
(d19,d20)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [123]:
[d19,d20]

[{'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'}]

In [129]:

d19.update(d20)
#It is just addition of d19+d20

In [125]:
d19

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [126]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [127]:
d20.update(d19)

In [128]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [130]:
d20.get("key3")

'value3'

In [132]:
d20.get("Tushar")
#It will not return anything as "Tuhar" key is not present

In [133]:
d20["sudh"]

KeyError: 'sudh'

Dictionary Comprehension
Running a for loop and getting o/p as a dictionary

In [136]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [135]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [137]:
{i:i**3 for i in range(1,11)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [138]:
{i:i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [144]:
import math
d21 = {i:math.log10(i) for i in range (1,11)}

In [141]:
d16

{'batch_name': ['data science', 'web Development', 'JDS']}

In [142]:
'batch_name' in d16

True

In [145]:
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [146]:
d21[1]

0.0

In [151]:
for i in d21.keys():
    if(i%2==0):
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0