In [23]:
s = {}

In [24]:
type(s)

dict

In [25]:
s1 = {'a','b','c'}

In [26]:
type(s1)

set

In [27]:
#When it was blank it was considered as dictionary and when elements are added then it is was set

In [28]:
s2 = {1,1,1,1,2,2,2,3,3,3}
#It removes it duplicates value

In [29]:
s2

{1, 2, 3}

In [30]:
#Typecast the set into the list
l1 = list(s2)

In [31]:
type(l1)

list

In [32]:
set(l1)

{1, 2, 3}

In [33]:
s4 = {1,2,3,4,[1,2,4,4,5]}
s4
#List can be mutated so set will not be constant so it throws unhasble type 'list'

TypeError: unhashable type: 'list'

In [ ]:
s5 = {1,2,3,4,(1,2,3,4)}

In [ ]:
s5

{(1, 2, 3, 4), 1, 2, 3, 4}

In [35]:
s6 = {"sudh","Sudh","Tushar",5,6.77,88}
#Python is a case-senstive language
#Here s and S is treated differently

In [36]:
s6

{5, 6.77, 88, 'Sudh', 'Tushar', 'sudh'}

In [37]:
s6[0]
# We can't do indexing in set it has hashable indexes internally
# Set is unordered collection data structure

TypeError: 'set' object is not subscriptable

In [38]:
s6[::-1]

TypeError: 'set' object is not subscriptable

In [39]:
s6

{5, 6.77, 88, 'Sudh', 'Tushar', 'sudh'}

In [42]:
for i in s6:
    print(i)

5
6.77
Sudh
Tushar
sudh
88

In [43]:
s6.pop()

5

In [44]:
s6.add(34)

In [45]:
s6

{34, 6.77, 88, 'Sudh', 'Tushar', 'sudh'}

In [46]:
s6.add(2)

In [47]:
s6

{2, 34, 6.77, 88, 'Sudh', 'Tushar', 'sudh'}

In [48]:
s6.add(2)

In [49]:
s6

{2, 34, 6.77, 88, 'Sudh', 'Tushar', 'sudh'}

In [50]:
len(s6)

7

In [51]:
s6.pop()

6.77

In [52]:
s6.pop()

'Sudh'

In [53]:
s6.pop(
)
#It pops out element by hashing indexes assigned

'Tushar'

In [58]:
# s6.clear()
#empty the data

In [59]:
s6

set()

In [56]:
s6.pop()

KeyError: 'pop from an empty set'

In [57]:
s6._hash

AttributeError: 'set' object has no attribute '_hash'

In [61]:
s7={1,2,3,4,5}
s8 = {1,2,3,4,4,5,5,7}

In [62]:
s8.difference(s7)

{7}

In [63]:
s7.difference(s8)

set()