In [15]:
s = {}

In [16]:
type(s)

dict

In [17]:
s1 = {'a','b','c'}

In [18]:
type(s1)

set

In [19]:
#When it was blank it was considered as dictionary and when elements are added then it is was set

In [20]:
s2 = {1,1,1,1,2,2,2,3,3,3}
#It removes it duplicates value

In [21]:
s2

{1, 2, 3}

In [22]:
#Typecast the set into the list
l1 = list(s2)

In [23]:
type(l1)

list

In [24]:
set(l1)

{1, 2, 3}

In [25]:
s4 = {1,2,3,4,[1,2,4,4,5]}
s4
#List can be mutated so set will not be constant so it throws unhasble type 'list'

TypeError: unhashable type: 'list'

In [ ]:
s5 = {1,2,3,4,(1,2,3,4)}

In [ ]:
s5

{(1, 2, 3, 4), 1, 2, 3, 4}

In [ ]:
s6 = {"sudh","Sudh","Tushar",5,6.77,88}
#Python is a case-senstive language
#Here s and S is treated differently

In [ ]:
s6

{5, 6.77, 88, 'Tushar', 'sudh'}

In [ ]:
s6[0]

NameError: name 's6' is not defined