In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
t1 = (1,2,4,5,6,6,7,8,8,"TuahaR",True)

In [5]:
type(t1)

tuple

In [6]:
t1

(1, 2, 4, 5, 6, 6, 7, 8, 8, 'TuahaR', True)

In [ ]:
'''
List is []
Tuple is ()
Tuple is immutable
'''

In [9]:
t1[0]

1

In [12]:
#We can't change value at a particular index
# t1[0]=2

In [17]:
t1[0:-1]

(1, 2, 4, 5, 6, 6, 7, 8, 8, 'TuahaR')

In [22]:
t1[-4:-1]

(8, 8, 'TuahaR')

In [23]:
#Reverse of tuple
t1[::-1]
#This a temporary one of u store it in variable then u can acess and do operations on that

(True, 'TuahaR', 8, 8, 7, 6, 6, 5, 4, 2, 1)

In [24]:
t1[:-1]

(1, 2, 4, 5, 6, 6, 7, 8, 8, 'TuahaR')

In [25]:
t1 = t1[::-1]
t1

(True, 'TuahaR', 8, 8, 7, 6, 6, 5, 4, 2, 1)

In [27]:
t1[0:3]

(True, 'TuahaR', 8)

In [28]:
t1

(True, 'TuahaR', 8, 8, 7, 6, 6, 5, 4, 2, 1)

In [32]:
t1.count(6)
#count doesn't count no of the elements in the tuple but the no of appreances of the number in the tuple

2

In [35]:
t1.index(2) 
#Gives the index of the the value
#True boolean value is also considered as 1 in computer

9

In [37]:
t1.index(1)
# Output is 0 because True is considered as 1

0

In [38]:
t1

(True, 'TuahaR', 8, 8, 7, 6, 6, 5, 4, 2, 1)

In [41]:
t1.count(True)
#Why two but 1 is only 1 time in the tuple here the reason behind it is that True is considered as 1 by the system.

2

In [39]:
t1.count(8)

2

In [42]:
t1

(True, 'TuahaR', 8, 8, 7, 6, 6, 5, 4, 2, 1)

In [44]:
#Major difference of Tuple and Lists
#Tuples doesn't allow item assignment at particular index and is immutable u can't change anything in the tuple
#Lists allow allow item assignment at particular index is mutable u can change any value anytime in lists

In [48]:
for i in t1:
    print(i,type(i))

True <class 'bool'>
TuahaR <class 'str'>
8 <class 'int'>
8 <class 'int'>
7 <class 'int'>
6 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [49]:
t2 = (1,3,3,4)

In [51]:
t2*3
#It will replicate the tuples

(1, 3, 3, 4, 1, 3, 3, 4, 1, 3, 3, 4)

In [52]:
max(t2)

4

In [54]:
min(t2)

1

In [55]:
t1 = (1,32,4,2)
t2 = (24,32,9,31)

In [57]:
t3 = (t1,t2)
t3

((1, 32, 4, 2), (1, 3, 3, 4))

In [66]:
t4 = ((1,2,3,4,5),[1,2,3,4,5])
t4

((1, 2, 3, 4, 5), [1, 2, 3, 4, 5])

In [67]:
t4 in ([1,2,3,4,5])

False

In [64]:
#del t4

In [68]:
t4

((1, 2, 3, 4, 5), [1, 2, 3, 4, 5])

In [69]:
len(t4)

2

In [70]:
t1

(1, 32, 4, 2)

In [72]:
1 in t1

True