Functions

In [1]:
print("This is my program")

This is my program

In [2]:
lis = [1,2,3,54]

In [3]:
len(lis)

4

All above function are in-built functions

In [4]:
def test():
    print("name")

In [5]:
test()

name

In [6]:
def test1():
    pass

In [7]:
def test2():
    print("These is my first function")

In [8]:
test2()

These is my first function

Function is used to increase usability

In [9]:
test2() + "Tushar"

These is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
def test4():
    return "This is my first program "

In [ ]:
test4()+"Hiii"

'This is my first program Hiii'

When we don't define any return type in function it returns none and print returns none type

In [ ]:
def test5():
    return 1,4,"PWSkills",34.43

In [ ]:
type(test5())

tuple

In [ ]:
test5()

(1, 4, 'PWSkills', 34.43)

In [ ]:
a = 1,2,3,4,5

In [ ]:
a

(1, 2, 3, 4, 5)

In [ ]:
type(a)

tuple

Multiple variable assignment

In [ ]:
a,b,c,d = 1,3,4,5

In [ ]:
a

1

In [ ]:
b

3

In [ ]:
c

4

In [ ]:
test5()

(1, 4, 'PWSkills', 34.43)

In [ ]:
test5()[0]

1

In [ ]:
test5()[3]

34.43

In [ ]:
test5()

(1, 4, 'PWSkills', 34.43)

We can also assign variable in this way using function

In [ ]:
a,b,c,d = test5()

In [ ]:
d

34.43

In [ ]:
a

1

In [ ]:
def test6():
    a = 3*4+5
    return a

In [ ]:
test6()

17

In [14]:
def test7(a,b):
    c = a+b
    return c

In [12]:
test7(5,10)

50

In [15]:
test7("sudh","tushar")

'sudhtushar'

In [17]:
test7([1,2,3,4,5],[4,5,6,78])

[1, 2, 3, 4, 5, 4, 5, 6, 78]

In [20]:
test7(b ="sudh",a="kumar")

'kumarsudh'

In [22]:
l = [1,2,3,4,5,"sudhanshu","pwskills",[1,2,3,34,45]]

In [28]:
# craete a function which will take a list as a input and give a final list with all the numeric value
def test8(l):
    n = []
    
    return n

In [29]:
test8(l)

[1, 2, 3, 4, 5]

In [30]:
l

[1, 2, 3, 4, 5, 'sudhanshu', 'pwskills', [1, 2, 3, 34, 45]]

In [35]:
def test9(l):
    n = []
    for i in l:
      if type(i) == int or type(i)==float:
          n.append(i)
    if type(i) == list:
            for j in i:
                if type(j) == int or type(j)==float:
                    n.append(j)
    return n

In [36]:
test9(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 45]

In [7]:
l1 = [1,2,3,4,5]
l1[::-1]

[5, 4, 3, 2, 1]